### **1. Importing Libraries**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("display.max_columns", None)
pd.set_option("display.width", 1000)

plt.style.use("seaborn-v0_8")

### **2. Load Data**

This workbook contains three sheets:

- Student_Master
- Lecture_List (ignored for now)
- Attendance_Database (main analysis sheet)

**Setting the File Path**

Using structured project paths via pathlib.

In [2]:
from pathlib import Path

# Get project root (one level above notebooks/)
PROJECT_ROOT = Path().resolve().parent

# Define data directory
DATA_DIR = PROJECT_ROOT / "data"

# Define file path
file_path = DATA_DIR / "Dummy_Data.xlsm"

print("Project Root:", PROJECT_ROOT)
print("File Path:", file_path)

Project Root: C:\Users\DELL\Desktop\Tanmay\End Sem PBL\end-sem-practical-pbl\Analysis
File Path: C:\Users\DELL\Desktop\Tanmay\End Sem PBL\end-sem-practical-pbl\Analysis\data\Dummy_Data.xlsm

**Reading the required sheet**

In [3]:
student_master = pd.read_excel(
    file_path,
    sheet_name="Student_Master",
    engine="openpyxl"
)

attendance_df = pd.read_excel(
    file_path,
    sheet_name="Attendance_Database",
    engine="openpyxl"
)

attendance_df.head()

        Date      Time Batch         PRN                     Name  Present
0 2026-02-23  09:30:00  Both  2501132001       Patil Yoksh Laxman        1
1 2026-02-23  09:30:00  Both  2501132002  Uttekar Paarth Hanumant        0
2 2026-02-23  09:30:00  Both  2501132003       Gupta Aastha Vijay        0
3 2026-02-23  09:30:00  Both  2501132004             Satvik Anand        1
4 2026-02-23  09:30:00  Both  2501132011      Gupta Mannat Sameer        0